<% if !logged_in? %>

<div class="center jumbotron">
<h1>Bienvenue</h1>

<p>
  Veuillez vous connecter <%= link_to("Login .", login_path, class: "btn btn-primary" ) %>
</p>
<p>
  Sinon, créez un compte <%= link_to("SignUp", signup_path, class: "btn btn-success" ) %>
</p>
<p>
  Liste de tous les Events <%= link_to("Les Events ! ", events_path, class: "btn btn-info")%>
</p>
</div>
<% else %>
  <div class="center jumbotron">
  <h1>Bienvenue </h1>
<% end %>
