
<h2>User Profile Page</h2>
<div class="row">
	<table class="table text-center">
		<tr>
			<th>Name</th>
			<td><%=@user.name%></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @user.email %></td>
		</tr>
	</table>
</div>
